<div class="my-container">
<br><br>
<h3>Ціни в Португалії</h3>
<img src="assets/img/tours-all.jpg" alt="2">
<p>
  Традиційно Португалію сприймають як країну  з  низькою вартістю життя - вагомий привід там залишитись. Але низькі ціни не застосовуються у всій країні, і реальність полягає в тому, що, окрім деяких ключових секторів, Португалія вже не є особливо дешевою країною для проживання.
  Як і в більшості інших країн європейського континенту, вартість життя в містах значно вища, ніж у сільських містах і селах. Невідповідність між Лісабоном та сільською громадою в Алентеджо підтверджує це, оскільки вартість основних товарів та комунальних послуг у першому, ймовірно, буде щонайменше вдвічі більшою, ніж в другому.</p>
<img src="assets/img/price.jpg" alt="2">
<p>  Однак середня вартість їжі та напоїв у Португалії значно нижча, ніж в інших західноєвропейських країнах. Свіжі фрукти та овочі, особливо якщо їх купувати на місцевих ринках, надзвичайно хороші. Це також морепродукти, що свідчать про узбережжя Португалії поблизу 1800 км, а також про його яскраву та продуктивну рибну промисловість.
</p>
<h6>Комунальні послуги</h6>
<p>
  В середньому 75 євро на місяць за електроенергію, включаючи деякі кондиціонери.
  Окрім цього, оплатити птрібно близько 70 євро на місяць на сукупні витрати на телефон, Інтернет та кабельне телебачення, які можна придбати в комплекті.
</p>
<img src="assets/img/тарифи.jpg" alt="2">
<h6>Їжа</h6>
<p>їжа в Португалії - це одне з найбільших приємностей життя тут, а також одна з найкращих вигод . Я насолоджувався найкращими стравами свого життя в Алгарве. У меню є креветки, омари, і будь-який інший морський витвір, який ви можете собі уявити, всі свіжі, з вічно існуючого моря і доступні за  25 євро . Охолоджений стакан Prosecco складає всього 3 євро.
  Уникайте ресторанів з меню на декількох мовах, оскільки ці місця орієнтовані на іноземний туристичний ринок. Якщо ви хочете автентичності за низькою ціною, шукайте знаки pratos do dia (їжа  дня), написані на дошках або паперах, наклеєних біля входів ресторану, ціною яких становить лише 3,50 євро. Персонал у цих місцях може бути винятком із правила, згідно з яким майже всі в цьому регіоні розмовляють англійською, але ви можете обійтись мовою жестів, розмовником та привітною посмішкою.
  Звичайно, ви могли витратити набагато більше 3,50 євро на харчування, оскільки цей прибережний регіон може похвалитися п'ятизірковими ресторанами.
  Залежно від того, як часто ви вирішили повечеряти, а не готувати вдома, 200 євро на місяць на людину має бути зручним продуктом харчування.
</p>
<img src="assets/img/market.jpg" alt="2">
<h6>Розваги</h6>
<p>
  Ви можете насолоджуватися багатьма приємними днями, гуляючи по брукованих містах і селах,  а потім зупинившись у відкритих кафе на каву чи келих вина. Замки, фортеці, музеї та невеликі театри в середньому стягують 3 євро за особу. Старі гавані, середньовічні фонтани, сади та історичні церкви доступні безкоштовно. Ви можете заповнити ще приємніші дні, походи в сільську місцевість або блукаючи довгими пляжами. Прогулянки по скелі, велосипед теж не є витратою. Сонце світить цілий рік, а температури рідко є занадто жаркими або занадто холодними, щоб не заважати досліджувати численні площі Старого міста чи велику вулицю. Крім цих основних витрат (комунальні послуги, харчування та розваги), ви матимете витрати на охорону здоров'я (яка може бути нульовою, якщо ви є законним резидентом і зареєструєтесь на державну систему), вартість обладнання та утримання вашого будинку (будь то оренда або власне місце), випадкові випадки (хімчистка, стрижка волосся тощо)
</p>
<h6>Житло</h6>
<p>
  Ціни на житло для туристів  коливаються  в районі 20 – 30 євро для закладів типу хостел та  50 євро в готелі
  Житло зазвичай є левовою часткою будь-якого бюджету. Знижуйте витрати на житло ні до чого (платячи за власний будинок у повному обсязі за сьогодні дуже сприятливим курсом), і ви маєте гарне місце для того, щоб вигнати майбутні рухи валюти не на вашу користь.
  Орендна плата, однак, надзвичайно низька, і цей єдиний фактор допомагає підкріпити уявлення про те, що вартість життя в країні відносно низька.
  Живучи в Португалії, ви можете прийняти найкращі континентальні способи життя, навіть якщо ваш бюджет є тим, що може бути описано як ідеальне для країн, що розвиваються. Алгарве законно є одним із найдешевших місць у світі, де сьогодні можна жити - і жити добре?
  Ви могли орендувати квартиру всього за 500 євро на місяць;
  за 700 євро на місяць ви могли орендувати щось Живучи в Алгарве, навіть з обмеженим доходом ваші дні можуть бути наповнені різноманітними та захоплюючими видами діяльності, а вечори проводили на вечерях у друзів.

</p>
<img src="assets/img/regions.jpg" alt="2">
<h6>Проїзд:</h6>
<p>
  У Лісабоні квиток на метро коштує близько 1,50 долара, а автобус менше 2 доларів, і ви можете придбати щомісячний проїзд, який коштує приблизно 37 доларів. Типовий проїзд на таксі в Лісабоні коштує менше 10 доларів
  Володіння автомобілем у Португалії - дорога пропозиція. Бензин - це великі витрати. Він продається літром, що становить чверть галона, а один літр коштує близько 1,60 долара.
  Як правило, ви можете взяти напрокат автомобіль за 26 доларів на день, але більшість основних автомобільних доріг мають дорогі дороги: дорога від Лісабона до Порто коштує близько 32 доларів за плату.
  Поїзд на поїзд до Порто з Лісабона - менш дорогий варіант; вартість поїзда становить приблизно 32 долари, а вартість автобуса - 21 долар. Один давній житель Лісабона каже, що віддає перевагу поїзду, «оскільки він трохи швидший і набагато комфортніший».. В середньому ми б сказали, що ви не платите більше 90 євро на місяць. І це було б, якщо вам потрібно буде обійтись у найдорожчих районах Лісабона. В іншому випадку ви могли б легко платити лише від 30 до 50 євро на місяць і легко обійтись.
</p>
<img src="assets/img/cost.jpg" alt="2">
<ul>Бюджет на старт проживання в Португалії:
  <li> Продукти харчування: 200 євро на людину</li>
  <li>Розваги (їдальня, кіно, бари тощо): 200 євро на людину</li>
  <li>Електрика / вода / газ: 90 євро</li>
  <li>Телефон / Кабельне ТБ / Інтернет: 70 євро</li>
  <li>Транспорт: 75 євро</li>
  <li>Різні витрати (товари для дому та предмети особистого користування, включаючи місцеве медичне страхування):
    150</li></ul>>
</div>

