.but{
  display: inline-flex;
  list-style: none;
}

//button {
//  background-color:  #03964d;
//
//}
footer{
  margin-bottom: 0;
  height: 100px;
}

body, html {
  padding: 0;
  width: 100vw;
  height: 100vh;
}
