<div class="my-container">
<br>
  <br>
<h2>Hовини</h2>
<h4>
  Портгалія програла Україні 1:2.
</h4>
<img src="assets/img/foot.jpg">
<p>
  Україна просунулася до фіналу Євро-2020 після вражаючого першого тайму допомогла їм перемогти вдома 2: 1 над Португалією, чий капітан талісману Кріштіану Роналду забив свій 700-й гол у кар'єрі в кваліфікації групи В.
</p>
<h4>
  Новий термінал на Sines коштуватиме 642 мільйони євро
</h4>
<img src="assets/img/port.jpg">
<p>
  Мета уряду - створити європейський морський центр, розміщуючи Синес на тому ж рівні, що й інші основні європейські морські вузли, такі як Роттердам та Антверпен.
  На завершення проекту потрібно чекати три роки.
  Уряд оцінює, що новий термінал "Сінез" матиме економічний вплив у районі 524 млн. Євро щорічно, що становить 0,28% ВВП та 0,33% валової доданої вартості (ВДВ), тоді як щодо рівня зайнятості, уряд вважає, що 1350 прямих робочі місця будуть створені.
</p>
<h4>
  Брюссель насторожений через найвищий бюджет Португалії
</h4>
<img src="assets/img/brussels.jpg">
<p>
  Брюссель насторожений через найвищий бюджет Португалії
  I тому озвучив попередження щодо проекту бюджету уряду Португалії на 2020 рік.
  Європейська Комісія попросила «термінових пояснень», оскільки план витрат «включає лише вже прийняті політичні заходи», жодна з яких не стосується необхідності подальших структурних змін.
  Ситуація випливає з того, що крайній термін подання планів витрат Португалії відбувся після останніх законодавчих виборів, які передбачали велику організацію "поза кулісами", щоб держава меншин отримала підтримку "задньої лавки", яка потрібна їй протягом наступних чотирьох років </p>
<h4>
  Вибори в Португалії: Соціалістична партія здобула більшість місць у парламенті
</h4>
<img src="assets/img/antonio.jpg">
<p>
  Прем'єр-міністр Антоніо Коста каже, що розпочне переговори з іншими партіями для формування уряду
  Результати виборів у Португалії: 5 ключових моментів</p>
<ul>
 <li> Явка
  Це була найнижча явка за парламентські вибори в Португалії, з рекордною кількістю утримань - 45,5%</li>
  <li> Консервативний маршрут
    Християнські демократи (CDS-PP) мали свій найгірший результат з 1991 року, що змусило їх лідера Ассунчао Кристаса кинути свою справу. "Ми стикаємося з демократичним результатом із смиренням", - сказала вона.</li>
  <li>Великий виграш для маленьких партій
    У Національній асамблеї дебютують три партії, в тому числі націоналістично-консервативна Chega (ECR) та LIVRE (Зелені / EFA).</li>
  <li>Дев'ять партій
  Вперше Португалія має дев'ять різних партій у своєму парламенті.</li>
</ul>
</div>

