<div class="my-container">
  <br><br>
  <p>Геологія Португалії досить чітка, по пловині країна розділяється на гранітну північ
    із своїми чудернацькими валунами та
    вапняковий південь із всеможливими і деколи майже неможливими карстовими
    утвореннями.
  Саме тому у питанні спелеології таким районам як Фатіма та Алгарве, пощастило більше
    усіх!
  Місто-святиня Фатіма окрім сввоєї релігійної значимості, ще й знаходиться у гірському
    массиві Serra de Aire e Candeeiros
    який просто просічений підземними проходами, людям які живуть у цьому районі
    подекуди навіть випала честь мати на власному
    повірї якийсь грот, який вони успішно викоритовують як гараж або погреб)
  Основні, найпопулярніші три перлини це: Grutas de Moeda, Grutas de Alvados i Grutas de Candeeiros. Вони точно вразять вас
    до глибини душі, креативністью і величчю своїх форм та кольорiв.</p>
<img src="assets/img/moedo.jpg">
    <img src="assets/img/grutas.jpg">
    <img src="assets/img/maxres.jpg">
 <p> В Алгарве печер чи гротів ви майже не знайдете, зате арки, секретні пляжі, стовпи, ущелини та обриви вас змусять забути
    про про усе прочитане і бачене раніше. Якщо замовити тур на лодці то можна відвідати такі місця де ще й морьских
    зірок руками назбирати!</p>
</div>
