<div class="my-container">
<br>
  <br>
<h2>Унікальні і цікаві факти про Португалію</h2>
<p>Португа́лія, офіційно Португа́льська Респу́бліка (порт.<code> República Portuguesa</code>) — держава на крайньому південному заході Європи. Розташована в західній частині Піренейського півострова, а також на островах Азорських і Мадейра в Атлантичному океані. Межує з Іспанією.
</p>
<ul>
  <li ><strong>Найдавніші кордони світу.</strong>  Територія нинішньої Португалії практично не змінювалася з 1297!  </li>
  <li><strong> Португальські вина – найкращі у світі.</strong> Погодьтеся, коли говорять про кращі вина, нам в голову приходять вина Франції, Іспанії. Проте впливовий Wine Spectator в 2014 році назвав португальське вино з регіону Дуро кращим у світі! Окрім того, інші португальські вина теж потрапили в Топ 10 і зайняли в цьому рейтингу 3-е і 4-е місця!</li>
  <li><strong>Майже як в Америці.</strong>  Із-за схожості конструкції і кольору міст ім. "25 квітня" порівнюють з мостом "Золоті Ворота" в Сан-Франциско, США. Дійсно дуже схожі. Це висячий міст довжиною коло 2 км, що сполучає столицю Лісабон на північному (правому) і порт Алмаду на південному (лівому) березі річки Тежу. Він входить в число 20 найдовших висячих мостів у світі.</li>
  <img src="assets/img/mist.jpg">
  <li>Португальська столиця Лісабон - oдне з найдавніших  міст Західної Європи, а також одне з найповажніших за віком міст світу.</li>
  <li>У Португалії розташована найзахідніша точка Європи - мис Рока, який на 140 метрів піднімається над гладдю Атлантичного океану.Вантовий «Міст 25 квітня» в Лісабоні визнано найкрасивішим в Європі.</li>
  <img src="assets/img/рока.jpg">
  <li>Португалія - ​​єдина європейська країна, кордони якої залишаються незмінними з 1139 року.</li>
  <li>Португалія забезпечує 70% світового експорту пробок.</li>
  <li>Національний музичний стиль Португалії - фаду.</li>
  <li>Державні автомобільні номери в Португалії можна зробити в будь-якій майстерні. </li>
  <li>Прапор Португалії має такий вигляд:</li>
  <img src="assets/img/прапор.jpg">
  <li>Португалія з Іспанією вперше за всіх ділили між собою світ.Називається "тратадо ди тордесіляш"</li>
  <li>У португальському містечку Евора є каплиця, декорована скелетами 5000 ченців-францисканців.</li>
  <li><strong>Один з найстаріших університетів Європи - в Португалії</strong>
  Університет Коїмбри був заснований у 1290 році, що робить його одним із найстаріших університетів на європейському континенті.</li>
<li>
  <strong> У 1755 році Лісабон зазнав одного з найпотужніших землетрусів у європейській історії</strong>
  1 листопада 1755 року Лісабон зазнав землетрусу магнітудою близько 9,0, після якого відбулося цунамі та пожежі, які призвели місто до уламків! Крім того, землетрус завдав Дня всіх святих, головного свята, коли церкви були наповнені палаючими свічками. Землетрус вдарив, перекинувши свічки, спричинивши великі пожежі. 275 000 жителів загинули, а 85% будівель зруйновано! Люди говорять про руйнівний землетрус і донині.
</li>
  <li>
    <strong>Столиця Португалії також є одним із найстаріших міст Західної Європи.</strong>
    Португалія не лише найстаріша країна Європи, Лісабон, столиця Португалії, також є найдавнішим містом за століття в Західній Європі та інших містах, таких як Лондон, Париж та Рим.
    Місто Лісабон - це фантастичне місце з вузькими бруківками, вузькими вулицями, проїздом на трамваї та дивовижними видами на берег, що робить його ідеальним місцем для відкриття. Це також чудове місто для відвідування молодих людей з найкращими місцями стегон, такими як знаменитий Bairro Alto.
  </li>
  <img src="assets/img/palace-lisbon.jpg">

  <li>У Португалії є<strong> 15 об’єктів Всесвітньої спадщини ЮНЕСКО </strong>(вона займає 8 місце в Європі та 17 місце у світі) ... і щороку країну відвідують понад 13 мільйонів туристів.
  </li>

</ul>
</div>
