.body {
  background-image: url("src/assets/img/background.jpg");
  background-size: cover;
}

button {
  margin: 30% 5% 5% 5%;
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.usersList {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: auto;
  height: auto;
  margin: 2%;
  padding: 2%;
  border: 1px solid black;
  background-color: darkcyan;
  border-radius: 5px;
  font-style: italic;

}

h1 {
  margin: 10px;
  text-align: center;
}

.invisible {
  display: none;
}
