<div class="my-container">
  <br><br>
  <h5>Вибирайте, де ви хочете базуватися, перш ніж шукати житло!</h5>
  <p>Якщо ви запланували поїздку в Португалію , обовязково виберіть місто в якому ви хочете відпочити. Адже якщо місто відпочинку ви вибрали Лісабон,
    то на вас чекає великий вибір готелів та хостелів.
    Ціни в таких готелях будуть звичайно вищими ніж в інших містах Портгалії.
    Де зупинитись, це питання не проблема. Різноманітність чекає на вас.
    <strong> Готелі </strong> різноманітнітного сервісу та з різною ціновою категорією, вартість ночівлі мінімум 29 євро, а номери – люкс можуть с
    ягати 1.500- 2.500 євро.</p>
  <img src="assets/img/hotel.jpg">
  <p> <strong>Хостели </strong>– також не поганий варіант, в Португалії вони створені з повним сервісом для проживання та відпочинку ,
    ціни доступні -9 - 35євро. Завжди присутня гостинність ,чистота та комфорт.</p>
  <img src="assets/img/hostel.jpg">
  <p>Якщо ви прихильник спокійного відпочинку в контакті з природою, , з повним релаксом, з незабутніми враженнями ,то для вас найкращий варіант буде вибрати сільський туризм.
    Сільський туризм сьoгодні створює серйозну конкуренцію для попередніх варіантів. В цих районах ви знайдете приватні будинки з басейном і захоплючим краєвидом і персоналом не гіршим ніж в готелях.
    <img src="assets/img/house.jpg">
</div>
