<div class="my-container">
<br><br>
<h2>Багатство морепродуктів</h2>
<h4>Золота тріска або Bacalhau à Brás</h4>
<img src="assets/img/food9.jpg">
<p>Улюблена страва португальців – риба Тріска (засолена). Різноманіття приготування страв з цієї риби надзвичайно велике та цікаве. Смачно і для дорослих і для дітей. Рецептура прийшла з давніх часів мореплавців та першовідкривачів світів. </p><h4>Основні інгредієнти традиційної португальської кухні</h4>

<img src="assets/img/food10.jpg">
<p>Нарешті, якщо щось характеризує Португалію, це якість її свіжої риби, і звичайно сардин, які їдять з півночі на південь у кожному куточку країни. Їх можна запропонувати як страву для чудового обіду приготованого на міні-грилях або  просто на вулиці. Запах не вражає, але смааак!!! просто «пальчики оближеш».</p>

<h4>Сардини</h4>
<img src="assets/img/food11.jpg">
<h4>Восьминіг Лагарейро</h4>
<p>
  Polvo à Lagareiro - це тарілка, яку дуже цінують на португальській кухні, настільки, що вона гідна своїх столів у особливі дні, як переддень Різдва. Восьминіг подають холодним з гарно заправленою оливковою олією та невеличким пучком петрушки, тому це прекрасна закуска на будь-який час.
</p>
<img src="assets/img/food13.jpg">
</div>
