<div class="my-container">
<h2>Найкращі 5 пляжів в Португалії</h2>
<p>
  Португалія славиться своїми прекрасними пляжами, а уздовж берегової лінії 1779 км - одні з найкращих пляжів Європи. Ці пляжі такі ж різноманітні і різноманітні, як Португалія, починаючи від величезних просторів золотих пісків і закінчуючи відокремленими бухтами з мальовничим пейзажем.
  Якщо ви шукаєте країну, яка пропонує прекрасні пляжі та славний клімат, то Португалія - ідеальне місце для відпочинку для вас. Ця стаття збирає наші улюблені пляжі з усієї країни та надає посилання на подальші поглиблені путівники.
</p>
<h3>СВЯТИЙ ЖАКІНТО ПЛАЖ, АВЕЙРО</h3>
<h4>На південь від Порто</h4>
<p>Межуючи з дюнами та природним заповідником, довгі піщані пляжі Сан-Хасінто - це місце втечі. Дюни - це будинок унікального рослинного і пташиного життя, немає кафе і барів, хвилі гарні для серфінгу і, здавалося б, нескінченного розтягування піску, ідеального для довгих прогулянок, відчуваєш себе приємно диким і безлюдним: принесіть книгу, вимкніть свою телефонуйте і смакуйте звук хвиль. Поїздка човна з Авейру через річку - це найшвидший і найпростіший спосіб дістатися туди.</p>
<img src="assets/img/portinho1.jpg">
<h3>БЕРЛЕНГАС АРХІПЕЛАГО, ПЕНІЧЕ</h3>
<h4>На північ від Лісабону</h4>
<p>Виїжджайте над відкритим морем від узбережжя Пеніче до цього таємничого архіпелагу, всього в 10-15 км від моря на поромі. Берленга Гранде - найбільший з цих островів. Рожеві скелі та зелена трава схиляються до краю води, в той час як сотні чайок кружляють і карують над головою. До загадкової фортеці 16 століття, побудованої на монастирських рештках скелястого острова, можна дістатися зигзагоподібним мостом через скелі або коротким плаванням. Тут є кілька прекрасних маленьких пляжів, і до підвалів із сріблястими рибками можна дістатися, поплававши, посадки на гребні або на байдарках. Dream Pit - один з найкращих з кількох підвалів, освітлених аквамариновою водою.</p>
<img src="assets/img/2b.jpg">
<h3>Морська печера Бенагіл</h3>
<h4> Західна Алгарве</h4>
<p>
  Скелі з пісковиків західного Алгарве пошиті потаємними льохами та бухтами, досягнутими скелеподібними сходами та тунелями. Морська печера Бенагіл - водянистий пантеон із сонячним світлом, що протікає через отвір у куполоподібній стелі. Відвідувачі можуть дістатися до печери лише з моря, або короткий плавання, або байдарка від самого пляжу Бенагіл (байдарки можна взяти напрокат у кіоску). Ранній ранок - це наймагічніший час перебувати там, оскільки воно безлюдне і золоте світло розливається в печеру. Плавайте на 100 метрів до пляжу Корредура, на якому є ще одна прекрасна морська печера. Бенагіл може зайнятися у розпал сезону, і хоча поруч є кілька кафе і ресторанів, ресторан Південного моря, що знаходиться в 1 км від пагорба, пропонує вишукану місцеву їжу в зручному місці, подалі від основних туристичних переслідувань.
</p>
<img src="assets/img/H3.jpg">
<h3>Пляж Senhora da Rocha</h3>
<h4> Західна Алгарве</h4>
<p>Каплиця вітру на мисі виходить на прекрасний пляж Сенхора-да-Роша, за 30 хвилин їзди на схід від Портімао (у першу неділю серпня відбувається процесія Мадонни від каплиці до пісків). Пляж обкладений суцільними скелями з пісковика, які світяться помаранчевим на заходньому сонці, пляж захищений і легко доступний через тунель на узбережжі, що з'єднує його з пляжем Нова з іншого боку. Є сотні снарядів гребінців, розкиданих по піску, і пляж швидко відходить у глибоку воду. Це пляж з блакитним прапором, тому в літні місяці є рятувальник плюс ряд кафе біля сходів.</p>
<img src="assets/img/3.jpg">
<h3>БАРРІЛЬ БІЧ, ТАВІРА</h3>
<h4>Алгарве </h4>
<p>
  Пляжі Португалії безперечно красиві, але вода Атлантики, яка межує з ними, часто може бути холодною. Тавіра, в самому східному пункті Алгарве біля іспанського кордону, - найкраща пропозиція для теплішого купання, а пляж Барріл - улюблена родина, з довгими ділянками білого піску, облямованими дюнами та спокійною чистою водою. Історія риболовлі району очевидна в багатьох якорях, що прикрашають пісок та колишні рибацькі котеджі, тепер перетворені на кафе.
</p>
<img src="assets/img/pra.jpg">
<h3>Пляж Назаре</h3>
<p>
  Коли ми відвідали Назаре Португалії наприкінці червня, море вирувало, і повітря заповнювало повітря. Незважаючи на те, що ми не збиралися мати типовий пляжний день, який притягує так багато до Назаре, це було насправді приємним відпочинком від великого міста Лісабона. Внизу розташована велика скельна стіна, що виходить на місто, є серцем Назаре. Тут ви знайдете ресторани, що вишикують воду, великі майданчики для гандболу та волейболу та маленькі дороги, наповнені білими будинками. Із такою кількістю піших вулиць досліджувати, найкраще якомога швидше з’їхати з автомобіля і піти в Назаре пішки.
  По-перше, ви повинні знати, що пляж Назаре є масовим! Густа ділянка піску пролягає зі скель вниз по узбережжю і далеко вдалину. Коли ми вийшли на пляж, хвилі гули і врізалися в берег. Рятувальники цього дня важко патрулювали пляж Назаре, відтягуючи всіх, хто потрапив навіть до океану. Це цілком контраст з літніми місяцями, коли море спокійніше, а пляж переповнений, як сардини. Так чи інакше, не дозволяйте погоді стримувати вас! Якщо це не ідеальний день на пляжі, у Назаре, Португалія, ще багато чого побачити. Також хмари принесли один з найкрасивіших захід сонця, який ми коли-небудь бачили!
</p>
<img src="assets/img/Nazare.jpg">
<h6>5 неймовірних фактів про Praia do Norte</h6>
<ul>
  <li>  Назарські великі хвилі створюються підводним каньйоном, який підсилює їх у монстрів. Глибока ущелина біля узбережжя довша 140 миль і глибина 16 000 футів!</li>
  <li>  Найбільша хвиля, що займалась серфінгом у світі, була в Назарі Родріго Кокса у 2017 році. Це було колосальних 80 футів у висоту і побило рекорд Гіннеса, який раніше володів Гарретт Макнамара (також у Назарі).
  </li>
  <li>  Першими людьми, що їхали по великих хвилях Назаре, насправді були кордони, а не серфери. Цього дня їх катали всі: від кайтсерферів, до віндсерфістів та всіх під сонцем!
  </li>
  <li>  Назаре приєднався до Всесвітньої ліги серфінгу в 2016 році, і зараз він приймає участь у змаганнях з великої хвилі, де виступають найкращі серфери світу. Серферів буксирують в масивні хвилі реактивними лижами, щоб отримати імпульс і краще положення.
  </li>
  <li>  Назарський маяк був споруджений в 1903 році, але форт, в якому знаходиться, набагато старший! Форт Сан-Мігель був побудований в 1577 році і зараз знаходиться музей, присвячений серфінгу та науці за хвилями.</li>
</ul>
<img src="assets/img/n2.jpg">
</div>



