<div class="my-container">

<h2>Палаци та замки Португалії</h2>
<p>Коли ви думаєте про те, що можна зробити в Португалії, ви не завжди думаєте про замки. Натомість Португалія схиляється до зображень надзвичайно красивих пляжів, драматичних зубчастих берегових ліній, смачної випічки, хитромудрої дизайнерської плитки та навіть архітектури на відміну від інших країн Європи, але ніколи насправді ця ідея прекрасних замків у Португалії.</p>
<h4>Національний палац Пени</h4>
<img src="assets/img/cast1.jpg">
<p>Національний палац Пена - найвідоміший замок Португалії завдяки своєму барвистому вигляду та нав'язливому розташуванню на вершині найвищого пагорба над містом Сінтра. Це пам'ятник національного та міжнародного значення і визнаний ЮНЕСКО. Історія палацу Пени сягає середньовіччя, коли було встановлено каплицю, присвячену Дамі Пені. Це врешті-решт переросло у монастир, а потім у замок. Фасад будинку видатний, і він запозичує детальні деталі з мануелінського та мавританського стилів архітектури.
  Розумний дизайн палацу гарантує, що його можна було побачити з будь-якого місця в навколишніх садах та лісах.</p>
<h4>Вежа Белем</h4>
<img src="assets/img/belem.jpg">
<h4>Замок Гімараєш</h4>
<img src="assets/img/cast2.jpg">
<p>
  Замок Гімараш вважається найважливішою середньовічною фортецею на півночі Португалії. Його яскравою особливістю є стіни, побудовані у формі пентаграми, з вісьмома прямокутними кренельованими вежами. Побудований у 10 столітті, він згодом став офіційною королівською резиденцією графа Д Енріке, батька першого короля Португалії, Афонсо Генріке. Замок витримав битву при Сан-Мамеде в 1128 році, що призвело до перемоги Афонсо і означало вихідну точку незалежної Португалії.
  Відтоді замок називають<strong> батьківщиною португальської нації.</strong></p>
<h4>Замок Алмуроль</h4>
<img src="assets/img/cast3.jpg">
<p>
  Розташований на вершині невеликого скелястого острова посеред річки Тегу, цей замок з пісковика описаний як одна з наймальовничіших фортець країни. Історія замку налічує майже 2000 років, і, незважаючи на поважний вік, замок Алмурол дуже добре зберігається. Скелястий острів вже давно є стратегічно важливим пунктом, що контролює водний шлях уздовж Тегу. Широко прийнято, що назва походить від арабського слова almorolan, що означає "висока скеля".
  Дійсно, це визначення чудово описує чудове розташування замку.</p>
<h4>Замок Томар</h4>
<img src="assets/img/cast4.jpg">
<p>Замок Томар, який колись належав до тамплієрів, також є монастирем, спорудженим у 12 столітті. Вважається одним із новаторських подібних замків у Португалії через об'єднання незвично округлих веж. Її первісною місією було захистити португальські землі від вторгнення арабів (відомих в Іберії як маври). У 1312 році тамплієри були вичищені з Європи, а набагато пізніше цей замок стане резиденцією короля Португалії Мануеля.
  Ім’я короля було пов’язано з найбільш пам'ятними змінами в дизайні замку, коли були додані витончені прикраси в стилі Мануелін.</p>
<h4>Замок Беллвер</h4>
<img src="assets/img/cast5.jpg">
<p>Замок Белвер спочатку був побудований для запобігання доступу ворога до річки Тежу. Після поразки короля Санчо в 12 столітті замок був переданий ордену госпіталістів, які закріпили свою монополію на владу над усією територією області.
  Протягом багатьох століть фортеця залишалася незахищеною від зовнішніх впливів і зберігала своє архаїчне військове будівництво середньовічного періоду.</p>
</div>
