<div class="my-container">

<h2>Музеї Португалії</h2>
<h4>Музей азулейжу </h4>
<img src="assets/img/музей1.jpg">
<p>Музей азулейжу   незвичайний музей з чудовими картинами створеними з керамічної плитки,це щось особливе .плитка прекрасна,а церква , в якій знаходиться музей, дивовижна. Азулейжу одна з р
  одзинок португалії.
</p>
<h4>Музей карет </h4>
<img src="assets/img/музей1.jpg">
<p>Музей азулейжу   незвичайний музей з чудовими картинами створеними з керамічної плитки,це щось особливе .плитка прекрасна,а церква , в якій знаходиться музей, дивовижна. Азулейжу одна з р
  одзинок португалії.
</p>
<h4> Музео Калуста Гульбенкіян (музей Калушти Гульбенкіян) Лісабон:
</h4>
<img src="assets/img/museum1.jpg">
<p>
Цей музей є одним з найбільш відвідуваних і важливих у країні, названий на честь британського благодійника вірменського походження, який присвятив своє життя просуванню мистецтва, освіти та науки.
У музеї є чудова і велика колекція мистецтва та артефактів єгипетського, грецького, римського, ісламського, азіатського та європейського походження.
</p>
<h4> музей Fado), Лісабон:</h4>
<img src="assets/img/fado.jpg">
 <p> Перш ніж насолоджуватися прямим шоу фадо, що краще, ніж дізнатися трохи більше про цей відомий португальський музичний жанр? Музей Фадо віддає належне цьому історичному музичному стилю та художникам, які його популяризували. Тут ви знайдете плакати, фотографії, інструменти та інші статті, які допоможуть вам стати експертом з цього питання.
   Крім того, не забудьте перевірити дати відвідування, якщо вони співпадають з концертом чи особливою подією!</p>


<p>
  Цей музей є одним з найбільш відвідуваних і важливих у країні, названий на честь британського благодійника вірменського походження, який присвятив своє життя просуванню мистецтва, освіти та науки.
  У музеї є чудова і велика колекція мистецтва та артефактів єгипетського, грецького, римського, ісламського, азіатського та європейського походження.
</p>
</div>
