<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
<footer class="pt-0 " id="contact">
  <div class="container1">
    <div class="row">
      <div class="about_us">
        <h6 class=" mb-3 font-weight-bold" id="about">ABOUT US</h6>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Address:</h6>
                <p>Львів. вул.Садівнича 16.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                <p><a href="#">myk.nadia@gmail.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-phone-volume"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Phone:</h6>
                <p><a href="#">3806377484865</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div  class="text-white text-center">
          &copy; 2019 Mykas. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</section>
