<div class="my-container">

<h2>  Археологічна спадщина</h2>

<p> Почнемо з одного цікавого місця у містечку Тавіра, в якому є так званий Фінікійський музей. Це був звичайний старенький житловий
  будинок фундаментом якого є залишки  будівель Ісламського періоду ,  які стоять на рештках  римського панування під якими
  знаходяться Фінікійські будівлі.</p>
 <p> Цей музей образно відображає археологічну спадщину Португалії, яка була почергово заселена доісторичними культурами, фінікійцями,
  римлянами, візіготами, Арабами і врешті відвойована португальцями від будь якого окупанта.</p>
<img src="assets/img/arheology.jpg">
<p>Кожна із цивілізацій залишала свій особливий внесок у спадщині цієї землі і саме цей фактор дарував велику кількість археологічного
  багатства.</p>

<p> Для поціновувачів найдревніших і найзагадковіших  структур, Португалія подарує вам велику кількість ант або дольменів, менірів,
  кромелеків, доісторичних розписів і гравюр а також цікавих пре-історичних поселень в яких вас сповна наповнить відчуття містики та
  загадковості.</p>

 <p> Римська імперія принесла із собою великий культурний прорив та цивілізацію. Тому можна відвідати будівлі 2000 річної давності з
  чудовими мозаїками, водопроводом, туалетами і навіть теплою підлогою і шахтами.</p>
<p>
  Ісламський світ, в свою чергу подарував цікаві замки, мечеті які потім успішно перетворили в церкви а також розвинув суттєво
  технології зрошування полів влітку.</p>
<p>
  Тому для того хто є археологом в душі і знає що під нашими ногами дуже часто ховається щось неймовірне і прекрасне, буде справжнім
  задоволенням душі відкривати для себе унікальні скарби минулого посеред поля з оливками, на схилах гір і прямо під будинками Ліссабона.
</p>
</div>
