<div class="my-container">
<br><br>
<h2>Oкеан</h2>
<img src="assets/img/ocean4.jpg">
<p>
  Португальська берегова лінія омивається Атлантичним океаном, який наблизив Португалію до інших народів і культур.
  Сонце наповнює світлом та радістю дрібні білі піски португальських пляжів. Незалежно від того, чи є вони величезними ділянками піску, наскільки може побачити око, чи маленькими бухтами, захищеними скелями, кожен пляж має свою сліпучу та дивовижну красу. Деякі переповнені людьми, з великою кількістю розваг, а інші залишаються безлюдними та недослідженими, зберігаючи таємниці, які чекають розкриття… Завжди є щось на будь-який смак та душевний стан, будь то розтягнутись та відпочити на піску, погуляти біля моря, щоб насолодитися побаченням або повеселитися та провести вечірку ввечері.
</p>
<img src="assets/img/ocean1.png">

<p>
  Чисті води моря також мають різний настрій. На деяких пляжах є тихі, спокійні моря, особливо в Алгарве, який навіть взимку є прекрасним місцем відпочинку; в інших жвавіші моря, з хвилями, які підходять саме для різних видів спорту з високим адреналіном.
  Багато готелів та курортів насолоджуються приголомшливим видом на океан і є ідеальними місцями для відпочинку та насолоди їх справжньою гостинністю. Крім того, ви можете сидіти за столом ресторану, щоб смакувати смачну португальську кухню, також загартовану сонцем і морем.</p>
<img src="assets/img/ocean3.jpg">
<p>
  Хоча технічно Португалія торкається лише Атлантичного океану, він піддається впливу суміші води з двох різних океанів: Атлантичного океану, що надходить з півдня, і Середземного океану, що йде зі Сходу.
  Якщо ми хочемо бути точними, два Світового океану насправді зустрічаються у Гібралтарській протоці, де море звужене Європейським та Африканським континентами. Оскільки два океану мають різну температуру води та солоність (щільність солі), ця "зустріч" закінчується таким чином:
  Атлантичний та Середземноморський океани зустрічаються в Гібралтарській протоці
  Температура води в океані в Алгарве зазвичай становить від 12 ° С взимку до 25 ° С влітку, і найвищою є в серпні-вересні.
</p>
<img src="assets/img/mixocean.jpg">
<h4>Температури моря</h4>
<p>
  Тим не менш, навіть при всіх шансах на користь, теплі води Алгарве можуть бути часом холоднішими, ніж зазвичай. "Винуватець" цих нижчих температур - явище погоди, характерне для португальського узбережжя, яке експерти називають невдалим. Через вітри тепла вода в поверхні відволікається, що спричиняє надходження глибоких і холодних вод океану.
  Але це винятки, за якими робиться правило. Південне узбережжя, що межує з Алгарве - місцем призначення більшості португальців у літні місяці - зазвичай привілейоване теплими температурами, поступово збільшуючись із Заходу на Схід. Це виглядає приблизно так:
</p>
<img src="assets/img/temp.jpg" class="tem">
<img src="assets/img/temp2.jpg" class="tem">
<p>
  <strong> Океанські ініціативи в Португалії</strong>
  «Океанські ініціативи в Португалії» було ініційовано Португальським фондом «Сурфідрид», Віана де Кастело Главою у 1998 році. Інші глави фонду «Серфрідер» були засновані в Порто, Пеніче, Ерісейра, Лісабоні та Азорських островах. Усі ці глави встановлюють партнерські стосунки з муніципалітетами та іншими асоціаціями для організації прибирання пляжних океанських ініціатив по всій Португалії, особливо в перші вихідні весни.
</p>
