<div class="my-container">
  <h2>Cпособи подорожі до Португалії</h2>
  <p>Лісабон – столиця Португалії, одне з найтепліших міст Європи. За легендою, засноване, як і Рим, на семи пагорбах самим Одісеєм.
    У 1775 році Лісабон був майже повністю зруйнований сильним землетрусом та цунамі, після чого його відбудували.</p>
  <img src="assets/img/regions.jpg">
  <h5>Є кілька способів потрапити в цю загадкову країну.</h5>
  <h4>1.Переліт літаком</h4>
  <img src="assets/img/air-plane.jpg">
  <p>
    Цей спосіб найшвидший адже ви можете з Києва до Лісабону долетіти за 8 -10 годин , але очікуйте що білет коштуватиме від 500 євро .
    З 2018 року до Португалії з Польщі запустили рейси лоукости WizzAir та RyanAir.
    Раніше можна було б долетіти з пересадкам, але такий варіант відпадає через довгі стиковки та дорожнечу аеропортів пересадки .
  </p>
  <h4>2.туристичні автобусні тури.</h4>
  <img src="assets/img/bus.jpg">
  <p>
    Є багато компаній які запропонують вам тури тривалістю від тижня і більше.
    Великою перевагою такого способу доїзду є можливість по дорозі до Португалії і назад пересікти цілу Європу та побачити безліч країн.
    Але вам обовязково треба розуміти що дорога буде довгою і для декого може бути виснажливою.
  </p>
  <h4>3.подорож автомобілем.</h4>
  <img src="assets/img/car.jpg">
  <p>
    Це варіант для справжніх мандрівників та вправних водіїв. За бажанням ви можете спланувати свій маршут мрії і насолодитись незабутньою поїздкою.
  </p>
</div>
