<div class="my-container">

<h2>Традиції гастрономії</h2>
<img src="assets/img/food1.jpg"  class="one">
<h4>У кожному регіоні є свої традиційні страви</h4>

<p>Хоча Португалія є дуже маленькою країною, кожен регіон має свої типові таблички. На півночі Португалії їжа, як правило, важча - це їжа фермера, як фейхоада, козідо та різні види ковбас. Біля узбережжя переважають риба та морепродукти, тож ви побачите багато сардин на грилі, молюсків та восьминога. Деякі з типових страв півдня Португалії - Акорда, Сопа-да-Педра та Ксарем.</p>
<h4>Основні інгредієнти традиційної португальської кухні</h4>
<p>
  Португалія виробляє виняткову оливкову олію, і ми її використовуємо в достатку. Оливкова олія використовується у всіх салатах, смаженні, перемішуванні їжі або просто для замішування хліба. Нам пощастило, у нас є можливість вживати оливкову олію вищої якості в кожному прийомі їжі.
</p>
<img src="assets/img/food3.jpg" class="two">
<img src="assets/img/food4.jpg" class="two">
<p>
  Португальці вживають цибулю і часник у всьому, більше того, я вважаю, що це безпечно сказати, що ми не вміємо готувати без цибулі та часнику. Португальська традиційна їжа не гостра, ми не вживаємо занадто багато приправ, у більшості випадків лише сіль. Окрім деяких страв, португальська традиційна їжа є здоровою - вона вважається частиною середземноморської дієти з великою кількістю фруктів та овочів, риби та оливкової олії.
</p>
<h4>Сир «Queijo Serra da Estrela»</h4>
<img src="assets/img/food5.jpg" class="six">
<img src="assets/img/food6.jpg" class="six">
<p>
  Серра-да-Ештрела (Queijo Serra da Estrela) - сорт сиру, який виробляють в області Серра-да-Ештрела, в Португалії. При виготовленні цього сиру дотримуються дуже строгих древніх правил. Сир виготовляють з овечого молока лише з листопада по березень та він дозріває, що найменше тридцять днів. У міру дозрівання він стає більш м'яким і густим. Сир Серра да Ештрела був визнаний однією з 7 гастрономічних пам'яток Португалії.
</p>
<h4>Сендвіч «Francesinhas»</h4>
<img src="assets/img/food7.jpg">
<p>
  Це надзвичайно великий та величний сендвіч, який складається з кількох шарів сиру, шинки та ковбаси між квадратними скибками хліба. Продається з картоплею фрі та томатним соусом. Смачно та ситно.
</p>
<h4>Молочне порося «Leitão assado»</h4>
<img src="assets/img/food8.jpg">
<p>У центрі країни кулінарним шиком являється смажене порося. Ціле молочне порося запікають на дровах, помістивши в спеціальну ємність. Готову страву доповнюють вишуканим соусом.</p>
</div>

