.my-container{
  background-image: url("src/assets/img/2.png");
  background-size: cover;
}

.one{
  width:70%;
  height: 50%;
  margin-left: 15%;
  display: inline
;
}
.two, .six {
  width:45%;
  height: 40%;
  margin-left: 5%;
}
img{
  width:45%;
  height: 40%;
  margin-left: 20%;
}
h4, h3{
  text-align: center;
  font-family: "Bookman Old Style";

}
