
<div class="my-container">
  <h2>Азори та Мадейра</h2>
<h3>Мадейра</h3>
<p>
  Мадейра - острів в Атлантичному океані, приблизно в 700 кілометрах на захід від Африки і в 850 кілометрах на південний захід від португальського узбережжя. Разом з Порто-Санту він утворює архіпелаг та автономний регіон Португалії Мадейра. Азорські острови мають такий же статус у Португалії. Найбільше місто Мадейри, а також столиця автономного регіону - Фуншал. У Мадейри дуже м'який клімат, температура майже завжди становить від 16 до 22 ° С. Острів популярний серед туристів та любителів природи через природу, багато лісів та гір. Оскільки узбережжя складається в основному з крутих скель і піщаних пляжів практично немає, на Мадейрі немає масового туризму. Острови мають вулканічне походження. Найвища гора - Піко Руїво (1862 м).
</p>
<img src="assets/img/madeira.jpg">
<p>
  Португальці почали заселяти їх близько 1425 р. Дерево, особливо кедр і тис, стали важливим експортом, поряд із барвниками, як драконова кров, орхілія та вата. Багатий вулканічний ґрунт став ще родючішим, спалюючи велику частину покритого деревами острова. Оскільки Мадейра була дуже гірською, тераси довелося будувати. Пшениця стала важливим раніше продуктом. За оцінками, з 1450 по 1470 р. Мадейра виробляв від 3000 до 3500 тонн на рік. Висадили виноградні лози, ввели цукор, і близько 1452 року Мадейра мала свій перший цукровий млин. Незабаром цукор став головним продуктом архіпелагу і продавався по всій Європі. Однак до середини шістнадцятого століття цукровий бум починав закінчуватися, і вино поступово замінило його як основний експорт острова.
</p>
<div>
  <img src="assets/img/Піко.jpg">
  <p>Найвища гора - Піко Руїво (1862 м).</p>
</div>
<p>
  Португальці почали заселяти їх близько 1425 р. Дерево, особливо кедр і тис, стали важливим експортом, поряд із барвниками, як драконова кров, орхілія та вата. Багатий вулканічний ґрунт став ще родючішим, спалюючи велику частину покритого деревами острова. Оскільки Мадейра була дуже гірською, тераси довелося будувати. Пшениця стала важливим раніше продуктом. За оцінками, з 1450 по 1470 р. Мадейра виробляв від 3000 до 3500 тонн на рік. Висадили виноградні лози, ввели цукор, і близько 1452 року Мадейра мала свій перший цукровий млин. Незабаром цукор став головним продуктом архіпелагу і продавався по всій Європі. Однак до середини шістнадцятого століття цукровий бум починав закінчуватися, і вино поступово замінило його як основний експорт острова.
  Багато екзотичних квітів, що ростуть у дикій природі, характеризують острів таким чином, що Мадейру ще називають квітковим островом. На острові є декілька ендемічних видів птахів, серед яких найвідоміший зяб Мадейра. Крім того, лавр часто зустрічається на Мадейрі, яка також входить до Списку всесвітньої спадщини ЮНЕСКО.
  Мадейра характеризується унікальною мережею левадів; вузькі зрошувальні канали, які прокладені над усім островом через гори. Через круте північне узбережжя колонізація острова почалася на менш крутому південному узбережжі, де розташована столиця Фуншал. Воду з гір на півночі доводили на відносно сухий південь через левади. Уздовж цих лівад завжди будували пішохідну доріжку для полегшення робіт з технічного обслуговування. Подекуди ці стежки шириною лише 20 сантиметрів, і вони проходять прямо по крутій прірві. В інших місцях вони майже в два метри завширшки. Якщо ви уважно стежите за знаками та дотримуєтесь будь-яких порад місцевого населення, вони підходять для прогулянки.

</p>
<h3>Азорські острови</h3>
<p>
  Азорські острови утворюють архіпелаг в Атлантичному океані на відстані 1370 км від Піренейського півострова і приблизно в 2341 км від американського материка (1934 км до острова Ньюфаундленд, що належить американському континенту). Архіпелаг складається з дев'яти населених островів та восьми незаселених островів, які разом утворюють автономний регіон Республіки Португалія і, таким чином, входять до Європейського Союзу. Азорські острови мають загальну площу 2247 км² і нараховують приблизно 250 000 жителів. Національний парламент знаходиться в Хорті на Файал. Найбільше місто, Понта Дельгада, розташоване на східному острові Сан-Мігель.
</p>
<img src="assets/img/azores-portugal.jpg">
<p>
  <strong>Horta on Faial</strong> - популярний причал для вітрильних яхт, що перетинають Атлантичний океан.
  Азорські острови мають постійний клімат протягом року, з невеликими перепадами температур. Температура коливається в межах від 14,0 до 24,8 ° C, серпень - найгарячіший місяць. Морська вода змінюється в межах температури від 16,0 до 22,0 ° C протягом року для подорожі
  Є вантажні кораблі, але пасажирів вони не беруть із собою.
  Човни щодня пливуть між островами Піко, Фаял та Сан-Хорхе. Між Сан-Хорхе та Терсейрою існує декілька днів на тиждень, але він не пливе цілий рік. Не існує ризику і в погану погоду. Однак місцева авіакомпанія SATA Air Açores працює майже щодня між островами.
</p>
<img src="assets/img/yaht.jpg">
</div>
