<div class="my-container">
<br><br>
<p>Португалія - одна з найдавніших країн Європи, яка встановила свій континентальний кордон, як це встановлено сьогодні в 1297 році. Португалія була незалежним королівством з 1143 року, коли перший португальський король Дом Афонсо Енрікес повстав проти своєї матері Дони Терези з португальської графині Португалії. Тереза повстала проти Королівства Леона і була помазана королевою Папою, хоча вона була змушена прийняти Португалію як країну, що підлягає Леону. Після любовної справи з галицьким дворянином Фернандо Перес де Траба відбувся її син Дом Афонсо Енрікес, який підтримав єпископа і шляхту, перемігши його матір у битві при Сан-Мамеде в 1128 р., Проголосивши незалежність від Леона.</p>
<p>Португалія розміщується на крайньому південному заході Європи а також острів Мадейра й Азорські острови в Атлантичному океані. На півночі та сході межує з Іспанією - 1232 км, має вихід до Атлантичного океану, берегова лінія 832 км. Найвища точка г. Сьєрра-да-Ештрела - 1993 м. Країну перетинають ріки, н
  Португалія розташована на західній стороні Піренейського півострова, ідеально розташована між Іспанією та Атлантичним океаном. Її географічне розташування вздовж узбережжя Атлантики є причиною того, що швидко став країною, пов'язаною з океаном, що створила основу для багатовікових морських пригод та відкриттів
<h5>Яка столиця Португалії?</h5>
<p>Лісабон - столиця Португалії. Населення складає 517 802 чоловік. Лісабон - це також політичний центр Португалії, який вважається республікою, і проживає його виконавчий глава держави.</p>
<img src="assets/img/portugal-capital-lisbon.jpg">
<h4>Pегіони</h4>
<p>
  1415 - це рік, який задав тон на довгі століття, де інновації, ризикованість та бачення, де якості, які ніколи не використовувались ні до того, ні в історії Португалії. Під керівництвом принца Генріха «Навігатора» португальці вирушили в епічні подорожі, які змусили б їх першими відкрити океанські шляхи до Індії, Бразилії, Китаю та Японії, одночасно заснувавши поселення на обох африканських узбережжях. Принц Генрі був не просто авантюристом, а й новатором і прозорливим у науці про океани.
  Сліди цієї всесвітньої історичної присутності можуть розглядатися як торгові знаки португальської культури. Португальська мова стала однією з найбільш розповсюджених у світі, і португальський народ отримав привілей за те, що він зазнав впливу багатьох різних цивілізацій. Величезна монументальна, мистецька та археологічна спадщина свідчить не лише про 850-річну історію зустрічей з далекими культурами, але і про присутність на території більш давніх народів (кельтів, вестготів, римлян та арабів).

</p>
<p>
  Природні переваги Португалії сонячної країни з такими різноманітними географічними особливостями перетворили країну у вибране місце для багатьох відпочиваючих, які пропонують сучасні туристичні засоби, вигадливі та персоналізовані засоби проживання. Відвідайте Португалію та дізнайтеся її самі.
  Острови Азорські острови та Мадейра по-справжньому названі Раєм в Атлантиці (Азорські острови) та Перлиною Атлантики (Мадейра). Виявлений під час відкриттів Золотий район відкриттів кожного архіпелагу має свої унікальні та позачасові традиції та культурні заходи.
</p>
<h4>
  Популярні райони Португалії</h4>
<img src="assets/img/Portugal-3.jpg">
<h5>Північне / Зелене узбережжя
</h5>

<p> Окрім Порто та Віла-Нова-да-Гая, інші міста, які варто подивитися тут, включають:</p>
  <ul>
  <li><strong>Віана-ду-Каштело: </strong>Важливе портове місто, близьке до Іспанії, в першу чергу португальського за смаком.</li>
  <li><strong>
    Північне / Зелене узбережжя

    Окрім Порто та Віла-Нова-да-Гая, інші міста, які варто подивитися тут, включають:

    Віана-ду-Каштело: Важливе портове місто, близьке до Іспанії, в першу чергу португальського за смаком.
    Брага: </strong>давньоримські коріння та будинок університету Мінью.</li>
  <li><strong>Гімараес:  </strong>Адміністративна база першого короля Португалії, Афонсо Генріке.</li>
  <li><strong>Віана-ду-Каштело: </strong></li>
</ul>

<h4>Срібний берег</h4>
<ul>
  <li><strong>Фігейра-ду-Фос:  </strong>Пляжі та одне з найбільших казино на Піренейському півострові.</li>
  <li><strong>
    Назарет: </strong>рай серфера з його рекордними хвилями</li>
  <li><strong>Óbidos:  </strong>Огороджений, добре збережений, середньовічний дорогоцінний камінь, відомий вишневим лікером.</li>
  <li><strong>Віана-ду-Каштело: </strong></li>
</ul>
<h4>Центральний</h4>
<ul>
  <li><strong>Коїмбра:  </strong>Колишня столиця країни, де живе один із найстаріших університетів Європи.
    Лісабон та його узбережжя</li>
  <li><strong>
    Кашкайш: </strong>Село на березі затоки, притулок, колись відомий як "Португальська Рив'єра".</li>
  <li><strong>Монте-Есторіл:  </strong>славні пляжі та казино, які надихнули Яна Флемінга.</li>
  <li><strong>Сінтра:  </strong>Казкові замки, палаци, сувенірні магазини та Мадонна.</li>
</ul>
</div>
