<div class="my-container">
<br><br>
<h1>цікавi факти про португальців</h1>

<p>
  Якщо ви приїжджаєте до Португалії, вам, напевно, цікаво, хто такі  португальці!
  Якщо ви їдете в Лісабон або в будь-яке інше португальське місто, вам не потрібно хвилюватися, оскільки португальці мають багато хороших якостей! Я впевнений, що ти знайдеш багато друзів, перебуваючи в Лісабоні.
  Подорож на нове місце може бути трохи страшною, тому що ви не впевнені, чого чекати, але все ж хочете мати чудові моменти та налагоджувати життєві стосунки. Зараз я познайомлю вас з кількома цікавими фактами про португальців

</p>
<h6>Вони відмінні господарі</h6>
<p>
  Перш за все, ви повинні знати, що португальці, мабуть, одні з найкращих господарів коли-небудь! Вони завжди постараються зробити все можливе, щоб ви відчували себе як вдома. Обід або вечеря в португальському будинку означає безліч друзів і родичів, які насолоджуються повноцінною трапезою за продуманим оформленим столом.
</p>
<img src="assets/img/photo.jpg">
<h6>Вони працьовиті</h6>
<p>
  Португальці - це люди дослідників, працьовиті допитливі люди. Вони не можуть залишатися на місці. З епохи відкриттів португальці зарекомендували себе як авантюристи, завжди шукаючи нових способів заробити на життя. Вони не бояться виходити зі своєї зони комфорту при необхідності. . Вони дуже наполегливо працюють над тим, щоб їм заплатити.
  На даний момент мінімальна зарплата в Португалії становить 580 євро. Закон говорить, що нормальний робочий період не повинен перевищувати восьми годин на день та сорока годин на тиждень

</p>
<h6>
  Вони люблять футбол
</h6>
<p>
  Футбол - це національний португальський вид спорту, як і регбі для новозеландців (ківі). Національне змагання з футболу є дійсно конкурентоспроможним, і його завжди є між основними командами: FC Porto, SLBenfica e SportingCB. У неділю сім'ї та групи друзів виходять на стадіони, щоб дивитися футбольні матчі, а не залишатися вдома. Інакше вони збираються в чиїйсь хаті, у своїй їдальні, і спостерігають за матчем протягом 90 хвилин.Коли збірна з футболу грає, португальці ретельно її підтримують! Коли команда Португалії виграла Єврокубок, по всій країні відбулися урочистості, і тисячі людей вирушили в аеропорт, щоб чекати гравців. Футбол, безумовно, є важливим видом діяльності, який об'єднує людей, але може розділити їх, коли мова йде про Тагу да Лігу!
</p>
<img src="assets/img/football1.jpg">
<h6>Вони докладуть зусиль і спробують розмовляти вашою мовою</h6>
<p>
  Португальською мовою розмовляють у дев'яти інших країнах: Бразилії, Анголі, Мозамбіку, Гвінеї Біссау, Східному Тиморі, Екваторіальній Гвінеї, Макао, Кабо-Верде, Сан-Томе та Принсіпі. У Франції деякі школи викладають це через велику кількість португальців, які проживають у країні.
  В Португалії одним з головних джерел багатства є туризм, тому для португальців дуже важливо знати, як володіти принаймні однією мовою, крім португальської. У школах англійська мова є обов’язковою для всіх учнів.
  Багато з них насправді говорять англійською (чого я не очікував, коли вперше потрапив сюди!). Іноді навіть старші покоління говорять англійською. Це велика перевага, оскільки багато міжнародних людей приїжджають до Португалії, щоб вчитися, і не всі вони навчаться говорити португальською за ті 6 чи 12 місяців, які вони проживають.
  Вам не потрібно хвилюватися, зустрічаючись з португальськими людьми, адже навіть якщо вони не розмовляють на вашій мові, вони намагаються зробити все можливе!

</p>
<h6>Вони цінують родину та друзів</h6>
<p>
  Неділя завжди присвячена сім’ї. У недільні обіди всі члени сім’ї збираються разом і насолоджуються їжею разом, а потім проводять решту дня разом. Також протягом тижня сім’ї їдять вечерю разом, коли це можливо. Вони цінують один одного і дорожать всіма моментами, які їм належить провести разом.
</p>

<h6>Зазвичай португальці дають два поцілунки:</h6>
<p>Португальці дарують два поцілунки, коли вітають вас, навіть якщо ви зустрічаєтесь один з одним вперше, починаючи з правого боку. Чоловіки зазвичай потискують руку або обіймають у разі близьких стосунків. Наприклад, у формальних зустрічах, пов'язаних із професійними питаннями, рукостискання - це соціально прийнятий жест.
</p>
<h6>Вони не могли жити без перерв на каву</h6>
<p>Кава-брейки є важливими для португальців! Коли вранці прокидаються, перед роботою випивають каву. Вони також випивають каву після обіду, після роботи, а іноді навіть після вечері. У них є кава в будь-який день дня, це дозволяє їм перепочити та трохи поспілкуватися!
</p>
<img src="assets/img/coffe.jpg">
<h6>Вони є прихильниками своєї культури, історії та гастрономії</h6>
<p>Португальці залишаються вірними традиціям! Традиційні рецепти діють через кілька поколінь родин. Коли традиції залишаються, це означає, що до них є повага. Ось чому португальці так пишаються традиціями, своєю культурою, історією та гастрономією.
  Вони люблять свою країну і знають найкращі місця, тому завжди будуть рекомендувати вам приховані дорогоцінні камені країни, тому ви зможете відчути її в найкращих умовах!
  Близько 80% португальського населення ідентифікують себе як римо-католиків (хоча лише близько 19% відвідують Імшу і насправді практикують католиків), але інші релігії користуються свободою культу.

</p>
<img src="assets/img/culture.jpg">

<h6>Португальські люди по всьому світу</h6>
<p>За кордоном проживає близько чотирьох мільйонів португальських громадян, більшість з яких іммігрували на початку та середині 20 століття. Вони оселилися переважно у Франції, Німеччині, Швейцарії, Люксембурзі, США, Канаді, Бразилії та Венесуелі.
</p>
<h6>Дуже ввічливі</h6>
<p>
  Вираз "com licença" використовується майже в будь-якій ситуації. Це означає "вибачте мене", і вони в Португалії дуже багато використовують: коли ви заходите в будинок, коли хочете кудись поїхати, але хтось стоїть на вашому шляху, якщо ви берете гроші у когось (наприклад, як касир у крамниця). Я думаю, що це дуже гарна характеристика португальського народу!
</p>
<p><strong>Oтже</strong> .. для мене португальці - це дуже миле населення. Якщо ви будете відвідувачем Португалії чи, можливо, студентом   вам не доведеться турбуватися з цими приємними людьми. Вони завжди будуть там, щоб допомогти вам!</p>
</div>
