<div class="my-container">
<br><br>
<h2>Солодкі шедеври</h2>
<h4>Паште́л-де-на́та (pastel-de-nata)</h4>
<img src="assets/img/food15.png"  class="bolo">
  <img src="assets/img/food16.jpg"  class="bolo">
<p>Неймовірно смачні тістечка родом з Португалії. А історія цього тістечка дуже цікава: португальські монахи відкрили кондитерську в Лісабоні, район Белень, і почали продавати ці тістечка для утримання монастиря. Ця кондитерська існує і досі. Рецепт тістечка тримається в таємниці, але все ж багато кондитерів намагаються його відтворити, правда, виходить аналог справжнього Pastel de Belém, але дуже смачний аналог, який займає почесну 15 сходинку у рейтинзі – Солодощі світу (журнал The Guardian).</p>
<p>Сьогодні це тістечко можна купити у будь-якому місті чи містечку Португалії, а тепер і в Україні, зокрема у Львові ))</p>
<h4>bolo-rei</h4>
<img src="assets/img/bolo-rei.jpg" class="bolo">
<img src="assets/img/bolo.jpg"  class="bolo">
<p>
  Традиція королівського торта - не тільки португальська, і має понад 2000 років свого існування. Легенда стверджує, що торт представляє подарунки, які мудреці дали маленькому Ісусу, коли він народився. Шкірка цитрусового являє собою золото, цукати і сухофрукти символізують смирну і солодкий аромат ладану. Його кругла форма і отвір посередині символізує корону королів. </p>
<h4>Fiovos de Ovos</h4>
<img src="assets/img/food19.jpg">

<p>
  Десерт з дуже цікавою назвою «волосся ангела», або «яєчні нитки», і правда з вигляду нагадує тонкі волосинки. Поширений він не тільки в Португалії, але також в Бразилії, Японії та Таїланді. Втім, історики впевнені, що рецепт десерту з'явився саме в португальському монастирі ще в 14 або 15 столітті і лише після цього був завезений мандрівниками в інші країни. Основу для майбутніх ниток роблять з жовтків. Їх акуратно відокремлюють від білків і пропускають через спеціальне пристосування прямо в киплячий цукровий сироп. Після цього майбутні ласощі легко викладають лопаткою на сито, даючи стекти рідині. Яєчні нитки не рідко використовують як прикраси для тортів та інших десертів, а також як гарнір до різних страв.
</p>
</div>
