.my-container{
  background-image: url("src/assets/img/2.png");
  background-size: cover;
}
img{
  width:70%;
  height: 40%;
  margin-left: 20%;
  border-radius: 10px;
}

h2, h3, h4, h5 {
  text-align: center;
  font-family: "Bookman Old Style";
}
