<div class="my-container">
  <br><br>
  <h2>Найкращі та найдешевші часи для відвідування Португалії</h2>
  <img src="assets/img/img1.jpg">
  <p>
    Дійсно відвідувати Португалію справді не погано, але залежно від того, що ти хочеш побачити і скільки хочеш провести, деякі сезони кращі за інші.
    Загалом, найжвавіша і найдорожча пора року - це серпень, коли багато європейців проводять літні канікули.</p>
  <h4> Ось розбиття найкращих часів для планування поїздки до Португалії.</h4>

  <p>  Мандрівники з бюджетом повинні відвідувати Португалію поза літніми місяцями та великими святами, такими як Різдво та Великдень.
    Оскільки це сезони, коли більшість людей планують свої довгі вихідні та канікули, вартість авіарейсів та готелів збільшується навіть за межами великих міст.
    Взагалі кажучи, найефективнішими місяцями є січень та лютий, а пізня весна та пізня осінь приходять на друге місце.</p>

  <h4> Найкращі часи для пляжу</h4>
  <img src="assets/img/beach8.jpg">
  <p> Португальське узбережжя не відоме тим, що має дуже теплу воду, і температура все ще може відчувати себе трохи холодною на початку літа.
    Липень - вересень - найтепліші місяці, тобто температура води буде найбільш ідеальною і в цей час.
    Для мандрівників, які віддають перевагу комфортним умовам купання, плануйте поїздку на Алгарве, Азорські острови чи острів Мадейра влітку,
    коли температура води трохи тепліша.</p>


  <h4> Найкращі часи для досвідчених серферів</h4>
  <img src="assets/img/surfing.jpeg">
  <p>Хоча, найтепліший сезон, очевидно, літо, зима - це те, коли серфери знайдуть справді чудові хвилі. Щоб побачити плюси в їх стихії, відвідайте Назаре або Пеніче
    в період з листопада по січень. Кожен, хто хоче стрибнути у воду, але не готовий вразити колосальні хвилі, може відправитися до Ерісейри, Фігейра да Фоса, Сагресу
    або пляжів поблизу Порту.</p>

  <h4>Найкращі часи для веселощів</h4>
  <img src="assets/img/fans.jpg">
  <p> Червень відомий як місяць фестивалів народних святих у Португалії.
    У Лісабоні вуличні вечірки досягають свого піку близько 12-го та 13-го в рамках святкування Санто-Антоніо, а вулиці Порту оживають 23-го для фестивалю в Сан-Жоао.
    Незалежно від того, в якому місті ти знаходишся протягом червня, місцеві жителі святкують того чи іншого святого. Зима та весна - також хороший час для планування поїздки, однак Мадейра проводить одне з найкращих святкових новорічних свят (включаючи феноменальний феєрверк) та вся Португалія, яка бере участь у фестивалях карнавалу у лютому-березні.


  <h4> Найкращі часи для музичних заходів</h4>
  <img src="assets/img/festival.jpg">
  <p> Потім є музичні фестивалі, які зазвичай проходять між весною та ранньою осінню. Надійний список разів, включений до 2018 року, вже доступний в Інтернеті, показуючи червень-серпень як пік сезону.
  <h4> Найкращі часи для відвідування Алгарве</h4>
  <img src="assets/img/algvare2.jpg">
  <p> Уникайте палючого сонця та скупчень людей, відвідавши Алгарве в кінці квітня - початку червня або між серединою вересня та кінцем жовтня. Хоча весняний сезон все ще може бути занадто холодним для купання, це ідеальний час посидіти на пляжі та насолодитися естетичною привабливістю води, тоді як вода повинна залишатися теплою на півдорозі до осені. Весна та осінь - також ідеальні пори року для гольфу та піших прогулянок, два популярних заняття в цьому регіоні.
  <h4>  Найкращий час для відвідування Порту та півночі</h4>
  <img src="assets/img/porto.jpeg">
  <p>  Північ Португалії може не бачити стільки сонця, як південь, особливо взимку, але це не погіршує цю приголомшливу та історичну частину країни; скоріше, це додає до цього
    Осінь, можливо, є найкращим часом для відвідування, коли денні температури коливаються між 24 ° та 17 ° за Цельсієм (75–62 ° F) - спочатку
    падають до пізньої осені - вдень, але вночі падають, забезпечуючи чудову погоду для блукання вулицями або пішохідні доріжки, поки сонце виходить і
    відступає для комфортної їжі (та вина) у приміщенні вночі. Осінь також сезон збору врожаю, а північна частина Португалії добре відома своїм смачним вином.</p>
  <p>
    Загалом, найкращі часи для відвідування та якомога більше досвіду в Португалії - це з березня до початку червня або середини вересня та середини до кінця листопада.
    Навесні квітучі квіти додають додаткового колориту містам, вже освітленим пастельними фарбами, а осінь - час збору врожаю, що означає і сезон вина.
  </p>
</div>
