<div class="my-container">
<br><br>
<h2>Морські відкриття</h2>
<p>Португалія може бути маленькою країною, але її внесок у світ був величезним. Це відіграло життєво важливу роль в епоху відкриттів та розвідки Європи, і багато найпопулярніших пам'ятників країни були споруджені в честь цього періоду. Тут ми розглянемо життєво важливу роль, яку взяла Португалія в дослідженні світу Європи між 15 та 18 століттями.</p>

<img src="assets/img/hama.jpg" class="foto">
<p>Васко да Гама (1469 - 1524) - португальський мореплавець, першовідкривач морського шляху з Європи до Індії.</p>
<p>Саме в епоху відкриттів Європа розвивала морські шляхи та торговельні зв’язки з Азією.
  Провідник Васко да Гама, народився в регіоні Алентежу Португалії, був першим європейцем, який дістався Індії водою,
  розробивши маршрут навколо Африки. Йому також приписують сильний вплив на процвітаючу імперію Португалії в той час,
  відкривши шлях для індійських торгів спеціями до Європи. Португалія була першою країною, яка ввела справжню корицю в
  Європу, після інших спроб не вдалася.</p>
<img src="assets/img/maps.png" class="map"><br>
<h4>Христофор Колумб</h4>
<img src="assets/img/kolumb.jpg" class="foto">
<p>Понад 400 років Португалія впливала на морську судноплавство багатьма способами, включаючи співпрацю з Іспанією та Англією. Крістофер Колумб також був відзначений тим, що прожив у Лісабоні кілька років, перш ніж досліджувати Америки, і саме тут він отримав частину своїх знань та тренувань з плавання в Атлантичному океані.</p>
<img src="assets/img/karta.jpg" class="map">
<h4>Фердинанд Магеллан</h4>
<img src="assets/img/Ferdinand.jpg" class="foto">
<p>
  Першим плаванням, яке вдало перемістилося по всій земній кулі, очолив португальський дослідник, який шукав західний морський шлях до Азії. Хоча Фердинанд Магеллан загинув на Філіппінах, його корабель продовжував плисти без нього, і пробрався на шлях до Піренейського півострова. Він став першим європейцем, який перетнув Тихий океан, і його плавання повернуло екзотичні спеції, які були надзвичайно цінними на той час. Його експедиція також пролила світло на декілька важливих фактів, таких як досі несподівана простора світу.
</p>
<img src="assets/img/Voya.jpg" class="map">
<p>Карта знизу була зроблена в 1535 році. На ній видно, наскільки добре північне та західне узбережжя Африки були нанесені на той час. Назви міст переповнені по всьому краю узбережжя, але внутрішня частина Африки майже порожня. Це відображає те, як мало що було відомо про те, що лежить всередині африканського континенту. Інтер'єр прикрашений носорогами, міфічними царями та циклопами.</p>
<img src="assets/img/africa.jpg" class="map">
<p>
  Португальські плавання розвідки були відповідальні за нові знання про африканські узбережжі. У 1300-х та 1400-х роках Португалія панувала в мореплавстві через свої…
:</p>
<ul>
  <li>географічне положення</li>
  <li>політична стабільність</li>
  <li>майстерність суднобудування</li>
</ul>
<div>
  <p>Португалія розпочала програму систематичних розвідок при принца Генріха Навігатора (1394-1460). Генрі…</p>
  <ul>
    <li>сподівався знайти морський шлях до багатств Азії</li>
    <li>створив морську академію в Сагресі, на краю Атлантики</li>
    <li>закликав місцевих суднобудівників розробити човни, придатні для плавання на відкритому морі</li>
  </ul>
<<img src="assets/img/slave.jpg" class="map">

</div>
</div>

